In [6]:
#immutable variables

a=20
print(a)
print(id(a))
a=90
print(a)
print(id(a))
print(type(a))



b=90.34
print(b)
print(id(b))
print(type(b))

c=20
print(id(c))

20
140734075513232
90
140734075515472
<class 'int'>
90.34
3214220927920
<class 'float'>
140734075513232

In [7]:
name="priya"
print(type(name))
print(id(name))
name="Rahul"
print(type(name))
print(id(name))

<class 'str'>
3214221064496
<class 'str'>
3214221064432

In [9]:
tup=(12,13,14.89,"priya")
print(tup)
print(type(tup))
print(id(tup))
tup[1]=23
print(tup)

(12, 13, 14.89, 'priya')
<class 'tuple'>
3214221058752

TypeError: 'tuple' object does not support item assignment

In [42]:
lst=[12,13,18,789]
print(lst)
print(type(lst))
print(id(lst))
lst[1]=67
print(lst)
print(id(lst))

lst.append(123) #adding 1 value
print(lst)

lst.remove(789)
print(lst)

lst.index(18)

#add 5 values to my list
lst.extend([67,89,90,45])
print(lst)


#insert a value at the second position -1
lst.insert(1,[456,89,10])
print(lst)

print(lst[1][1])

#min,max,length

lst2=[90,78,12]
print(min(lst2))
print(max(lst2))
print(len(lst2))

lst3=["hi","world","air"]

print(len(lst3))

lst3.clear()
print(lst3)

lst2.pop()
print(lst2)

[12, 13, 18, 789]
<class 'list'>
3214221069568
[12, 67, 18, 789]
3214221069568
[12, 67, 18, 789, 123]
[12, 67, 18, 123]
[12, 67, 18, 123, 67, 89, 90, 45]
[12, [456, 89, 10], 67, 18, 123, 67, 89, 90, 45]
89
12
90
3
3
[]
[90, 78]

In [18]:
set={12,90,576,12,90} #set will completely remove the duplicates
print(set)
print(id(set))
#print(set[0])
set.add(23)
print(set)
print(id(set))
#sets does not have an index number

{576, 90, 12}
3214221758752
{576, 90, 12, 23}
3214221758752

In [26]:
dict={10:"anu",12:"rajesh",13:"anu",10:"rajesh"}
print(dict)
print(dict[10])
print(dict.keys())
print(dict.values())

dict_courses={"Hadoop":["s1","s2","s3"],"Spark":["s4","s1"],"Python":["s10","s9"]}
print(dict_courses)
print(dict_courses.keys())
print(dict_courses["Python"])

{10: 'rajesh', 12: 'rajesh', 13: 'anu'}
rajesh
dict_keys([10, 12, 13])
dict_values(['rajesh', 'rajesh', 'anu'])
{'Hadoop': ['s1', 's2', 's3'], 'Spark': ['s4', 's1'], 'Python': ['s10', 's9']}
dict_keys(['Hadoop', 'Spark', 'Python'])
['s10', 's9']

In [9]:
#converting to dictionary

#list to dict -- 

lst1 =[12,13,90] 
lst2=["anu","jerry","rakesh","kiran"]

dict_op=dict(zip(lst1,lst2))
print(dict_op)

print(type(dict_op))


#tuple to dict

tup1=(12,23,90)
tup2=("anu","leela","priya")

tup_op=dict(zip(tup1,tup2))

print(tup_op)
print(type(tup_op))


tup0 = ((12,"anu",8908),(13,"leela",8908),(14,"priya",98870))
tup1 = ((12,"anu"),(13,"kiran"))

tup_dict_0=dict((a,b) for a,b in tup1)
print(tup_dict_0)
print(type(tup_dict_0))

tup_dict_1=dict((x,y) for x,y,z in tup0)
print(tup_dict_1)
print(type(tup_dict_1))


#set to dictionary

set1 = {12,23,45}
set2={"ab","cd","ef"}

set_op=dict(zip(set1,set2))
print(set_op)
print(type(set_op))


set_op1 = dict.fromkeys(set1,0)
print(set_op1)

{12: 'anu', 13: 'jerry', 90: 'rakesh'}
<class 'dict'>
{12: 'anu', 23: 'leela', 90: 'priya'}
<class 'dict'>
{12: 'anu', 13: 'kiran'}
<class 'dict'>
{12: 'anu', 13: 'leela', 14: 'priya'}
<class 'dict'>
{12: 'cd', 45: 'ab', 23: 'ef'}
<class 'dict'>
{12: 0, 45: 0, 23: 0}

In [17]:
#conversion to tuples


#list to tuple

lst1=[12,23,34]

tup_0 = tuple(lst1)
print(tup_0)
print(type(tup_0))


#set to tuple
set1={12,23,45,12,23,90}

tup_1=tuple(set1)
print(tup_1)
print(type(tup_1))

#dictionary to tuple
dict1={10:"anu",20:"priya",30:"leela"}
print(dict1.items())


tup_2=[(k,v) for k,v in dict1.items()]

tup_3=tuple(tup_2)
print(type(tup_3))

(12, 23, 34)
<class 'tuple'>
(90, 12, 45, 23)
<class 'tuple'>
dict_items([(10, 'anu'), (20, 'priya'), (30, 'leela')])
<class 'tuple'>

In [20]:
# conversion to list

#tuple to list

tup1=(12,23,56)

list_1=list(tup1)
print(list_1)
print(type(list_1))

#set to list

set1={12,39,12,80,56}
list_2=list(set1)
print(list_2)
print(type(list_2))

#dictionary to list


dict1={10:"Hadoop",11:"spark",12:"Python"}

keylist=[]
vallist=[]

for k,v in dict1.items():
    keylist.append(k)
    vallist.append(v)

print(keylist)
print(vallist)

[12, 23, 56]
<class 'list'>
[80, 56, 12, 39]
<class 'list'>
[10, 11, 12]
['Hadoop', 'spark', 'Python']

In [25]:
#conversions to set

#list to set
lst1=[12,23,34,56,12]

set_0=set(lst1)
print(set_0)
print(type(set_0))


#tuple to set
tup1=(12,90,78,45)
set_1=set(tup1)
print(set_1)
print(type(set_1))

#dict to set

dict1={10:"Hadoop",11:"spark",12:"Python"}

'''
keylist={}
vallist={}

for k,v in dict1.items():
    keylist.add(k)
    vallist.add(v)

print(keylist)
print(vallist)
'''

tup_2=[(k,v) for k,v in dict1.items()]

tup_3=set(tup_2)
print(tup_3)
print(type(tup_3))

{56, 34, 12, 23}
<class 'set'>
{90, 12, 45, 78}
<class 'set'>
{(12, 'Python'), (11, 'spark'), (10, 'Hadoop')}
<class 'set'>

In [26]:
#Arithmetic operators


print(3+2)
print(3-2)
print(3*2)
print(3/2)
print(3%2) #modulo -- 
print(3**2) #power 
print(3//2) #floor division

5
1
6
1.5
1
9
1

In [27]:
#Assignment  operators

a=10
b=2

print(a)
a=a+b
print(a)

10
12

In [1]:
#comparison operators

a=10
b=5

if not a<=b:
    print("a is greater than b")
else:
    print("a is lesser than b")

a is greater than b

In [5]:
#Logical operators

a=90
b=30

if a>b and b<20:
    print("A is greater")
elif not b==10:
    print("B is 10")
else:
    print("nothing")

B is 10

In [8]:
a=20

if type(a) is not int:
    print("a is not integer")
else:
    print("a is  integer")

a is  integer

In [ ]:
#Membership operators
lst=[12,34,89]
a=90

if a in lst:
    print("The value is in the list")
else:
    print("no")

In [1]:
#while

a=10
while a<12:
    print("The value of a is less than 12")
    a=a+1
print("out of while")

The value of a is less than 12
The value of a is less than 12
out of while

In [3]:
#for 

lst=[90,78,34,78]

for i in lst:
    print("The value is",i)
for z in lst:
    if z<50:
        print("the value is",z)
print("for loop is done")

The value is 90
The value is 78
The value is 34
The value is 78
the value is 34
for loop is done

In [7]:
#for loop

a=10

for i in range(2,a-3,2):
    print("The value is",i)

The value is 2
The value is 4
The value is 6

In [9]:
#control stmts
i=10

while i>=0:
    print(i)
    if i==5:
        #print("now im in 5")
        break
    i=i-1
print("done")

10
9
8
7
6
5
now im in 5
4
3
2
1
0
done

In [11]:
#control stmts
i=10

while i>=0:
    print("The value of i is",i)
    if i==5:
        #print("now im in 5")
        i=i-1
        continue
    print("dup The value of i is",i)
    i=i-1
print("done")

The value of i is 10
dup The value of i is 10
The value of i is 9
dup The value of i is 9
The value of i is 8
dup The value of i is 8
The value of i is 7
dup The value of i is 7
The value of i is 6
dup The value of i is 6
The value of i is 5
The value of i is 4
dup The value of i is 4
The value of i is 3
dup The value of i is 3
The value of i is 2
dup The value of i is 2
The value of i is 1
dup The value of i is 1
The value of i is 0
dup The value of i is 0
done

In [12]:
#control stmts
i=10

while i>=0:
    print(i)
    if i==5:
        #print("now im in 5")
        pass
    i=i-1
print("done")

10
9
8
7
6
5
4
3
2
1
0
done

In [16]:
#get values from user

empno = input("enter the employee no")
print(empno)

print(type(empno))

emp_number = float(input("Enter the number"))
print(emp_number)
print(type(emp_number))

enter the employee no21
21
<class 'str'>
Enter the number890
890.0
<class 'float'>